<%- include('../../templates/header.ejs') %>
    <div>
        <iframe title="IDS_L8" frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genially.com/67e4204d823f35bcf8735d0c" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
    </div>
<%- include('../../templates/footer.ejs') %>

